{% if author.avatar %}
  {% assign alt = author.name | append: " avatar" %}
  {% image author.avatar alt "rounded-full bg-gray-light" %}
{% else %}
  <div class="rounded-full bg-gray-light" aria-label="No photo present for this author"></div>
{% endif %}
