<footer class="border-gray-light border-t">
  <address
    class="max-w-18-col pt-64 pb-96 mx-auto flex flex-row space-x-column-spacing not-italic"
  >
    <div class="flex flex-col w-3-col">
      {% include vectors/long_logo.svg %}

      <a class="mt-24" href="mailto:contact@finiam.com">contact@finiam.com</a>
    </div>

    <div class="flex flex-col w-3-col">
      <p class="text-gray mb-24">Get directions</p>

      <ul class="space-y-8">
        <li><a class="not-italic">Braga, Portugal →</a></li>
        <li><a class="not-italic">Boston, USA →</a></li>
      </ul>
    </div>

    <div class="flex flex-col">
      <p class="text-gray mb-24">Follow Us</p>

      <ul class="flex flex-row space-x-24">
        <li><a href="https://medium.com/finiam">Md</a></li>
        <li><a href="https://www.facebook.com/wearefiniam">Fb</a></li>
        <li><a href="https://www.linkedin.com/company/finiam">In</a></li>
        <li><a href="https://www.instagram.com/wearefiniam">Ins</a></li>
        <li><a href="https://twitter.com/wearefiniam">Tw</a></li>
        <li><a href="https://github.com/finiam">Gh</a></li>
      </ul>
    </div>
  </address>
</footer>
