@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1, "dlig" 1, "swsh" 1;
  -moz-font-feature-settings: "smcp=1, onum=1, frac=1, kern=1, liga=1, dlig=1, swsh=1";
  -ms-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1, "dlig" 1, "swsh" 1;
  -o-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1, "dlig" 1, "swsh" 1;
  -webkit-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1, "dlig" 1, "swsh" 1;
  font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1, "dlig" 1, "swsh" 1;
  font-feature-settings: normal;
}

@font-face {
  font-family: StudioFeixenSans-Edgy;
  src: url("/fonts/Edgy-StudioFeixenSansRg.otf");
}

@font-face {
  font-family: StudioFeixenSans-Edgy;
  src: url("/fonts/Edgy-StudioFeixenSansMd.otf");
  font-weight: 500;
}

@font-face {
  font-family: StudioFeixenSans;
  src: url("/fonts/StudioFeixenSans-Regular.otf");
}

@font-face {
  font-family: StudioFeixenSans;
  src: url("/fonts/StudioFeixenSans-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: RecifeText;
  src: url("/fonts/RecifeText-Regular.eot");
}
