html {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}

@font-face {
  font-family: StudioFeixenSans-Edgy;
  src: url("/fonts/EdgyStudioFeixenSansRg.otf");
}

@font-face {
  font-family: StudioFeixenSans-Edgy;
  src: url("/fonts/EdgyStudioFeixenSansMd.otf");
  font-weight: 500;
}

@font-face {
  font-family: "PT Mono";
  src: url("/fonts/PTMono-Regular.ttf");
}


@font-face {
  font-family: StudioFeixenSans;
  src: url("/fonts/StudioFeixenSans-Regular.otf");
}

@font-face {
  font-family: StudioFeixenSans;
  src: url("/fonts/StudioFeixenSans-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: RecifeText;
  src: url("/fonts/RecifeText-Regular.eot");
}
