@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .screen-hidden {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.prose * {
  @apply max-w-10-col;
}

.prose figure,
.prose blockquote,
.prose pre {
  @apply max-w-12-col;
}

.prose pre {
  @apply p-32;
}

.prose-center * {
  @apply mx-auto;
}
